body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 50px;
  }
  
  p {
    font-size: 2em;
    margin-top: 30px;
  }
  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